.body {
  background: #b6e7dd;
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-div {
  display: inline-block;
  width: 150px;
}
.img {
  width: 100%;
}
.title {
  display: inline-block;
  font-family: "Pacifico", cursive;
  font-weight: 100;
  font-size: 50px;
  color: #3ba08c;
  padding: 20px;
}

.btn {
  padding: 5px 15px 5px 15px;
  border: solid #3ba08c 3px;
  border-radius: 5px;
  background: #63cbb6;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.play {
  padding: 5px 15px 5px 15px;
  border: solid #3ba08c 3px;
  border-radius: 5px;
  background: #63cbb6;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/*main*/
.h2 {
  margin: 5px;
  width: 100%;
}

.balls {
  display: flex;
  flex-flow: row wrap;
  background: white;
  border: solid #3ba08c 7px;
  border-radius: 5px;
  padding: 5px 20px;
  margin-bottom: 30px;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: solid #63cbb6 5px;
  border-radius: 50%;
  text-align: center;
  margin: 15px;
}

.matched {
  border: solid #3ba08c 5px;
  background: #63cbb6;
  color: white;
  transition: ease 1s;
}
.hidden {
  display: none;
}
.showup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 13%;
  width: 70%;
  height: 30vh;
  background: rgba(59, 160, 140, 0.9);
  border-radius: 25px;
}

.modalh3 {
  font-family: "Pacifico", cursive;
  font-weight: 100;
  font-size: 50px;
  color: rgb(233, 232, 232);
  padding: 20px;
  text-align: center;
}

/*animations*/
